# Used for push notifications via firebase-admin
# Generate a private key json from Firebase Project Settings -> Service Accounts
# Paste the ENTIRE JSON string as the value for this variable:
FIREBASE_SERVICE_ACCOUNT=

# Enable free email delivery via Nodemailer
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-google-app-password
